<table class="table table-rounded table-striped border gy-7 gs-7">
    <thead>
        <tr>
          <th scope="col" *ngFor="let head of dataGridList[0] | keys"><a (click)="Order(head)" style="cursor: pointer;">{{head}} <i class="fas" *ngIf="orderColumn==head" [ngClass]="orderAsc ? 'fa-angle-down':'fa-angle-up'"></i></a></th>         
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of dataGridList">
           
            <td scope="row" *ngFor="let cell of item | keys">{{item[cell]}}</td> 
                   
          </tr>   
      
      </tbody>
    </table>
<ul class="pagination">
  <li class="page-item previous" disabled *ngIf="currentPage > 1">
    <a class="page-link" style="cursor: pointer" (click)="prevPage()"
      ><i class="previous"></i
    ></a>
  </li>
  <li
    class="page-item"
    *ngFor="let page of pageList"
    [ngClass]="page == currentPage ? 'active' : ''"
    (click)="page != currentPage && setPage(page)"
  >
    <a class="page-link" style="cursor: pointer">{{ page }}</a>
  </li>
  <li class="page-item next" *ngIf="currentPage < totalPageCount">
    <a class="page-link" style="cursor: pointer" (click)="nextPage()"
      ><i class="next"></i
    ></a>
  </li>
</ul>
